.react-player iframe {
	height: 100% !important;
}

@font-face {
	font-family: BMYEONSUNG;
	src: url('./assets/fonts/BMYEONSUNG.ttf');
  font-display: block;
}

.BannerVideo {
	font-family: 'BMYEONSUNG', sans-serif;
}
